<h2>投稿編集</h2>
<div class="col-sm-8 container">
  <%= render 'form', blog: @blog %>
</div>
<div class="col-sm-4 container">
  <a class="twitter-timeline" data-width="500" data-height="600" data-theme="light" href="https://twitter.com/12a1070?ref_src=twsrc%5Etfw">Tweets by 12a1070</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
